body {
  margin: 0;
  font-family: Arial;
  background: #f4f6fb;
}

/* Layout หลัก */
.app {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background: white;
  padding: 20px;
  border-right: 1px solid #eee;
}

@media (max-width: 768px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .sidebar ul {
    display: flex;
    gap: 10px;
  }

  .sidebar li {
    font-size: 14px;
    padding: 8px 12px;
  }
}

.sidebar h2 {
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.sidebar li.active {
  background: #e0e7ff;
  color: #3730a3;
}

/* Main */
.main {
  flex: 1;
  padding: 40px;
}

/* Card */
.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  gap: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

/* textarea */
textarea {
  flex: 1;
  height: 120px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

/* button */
button {
  width: 150px;
  border: none;
  background: linear-gradient(180deg, #6366f1, #4f46e5);
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

/* output */
.output {
  margin-top: 20px;
  font-size: 16px;
}

/* 📱 Mobile */
@media (max-width: 768px) {
  .app {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10 px;
  }

  .main {
    padding: 20px;
  }

  .card {
    flex-direction: column;
  }

  button {
    width: 100%;
    height: 50px;
  }

  button:hover {
  opacity: 0.9;
}
}
